.Clients > h2 {
  @apply text-center py-8;
}

.TestimonialsWrapper {
  @apply grid gap-6 grid-cols-1 lg:grid-cols-2 xl:grid-cols-4;
}

.Testimonial {
  background-color: var(--white);
  @apply flex flex-col justify-between py-4 px-8 rounded-lg;
}

.TestimonialAuthor {
  @apply grid place-items-center;
}

.TestimonialImageWrapper {
  @apply grid overflow-hidden w-12 h-12 rounded-full m-4;
}

.TestimonialAuthorInfo {
  @apply flex flex-col text-center;
}

.TestimonialAuthorInfo > span {
  @apply m-0;
}

.TestimonialAuthorName {
  font-weight: var(--bold);
}

.TestimonialAuthorTitle {
  font-size: var(--font-small);
}
