.Footer {
  background-color: var(--primary);
}

.PreFooter {
  @apply max-w-screen-lg mx-auto flex flex-col items-center justify-center pt-8 lg:flex-row lg:justify-between lg:py-4;
}

.FooterForm {
  @apply py-4 lg:py-0;
}

.FooterNav {
  @apply flex flex-col py-4 lg:py-0;
}

.FooterNav > a {
  font-size: var(--font-small);
  font-weight: var(--font-bold);
  color: var(--black);
  @apply my-1.5;
}

.FooterInfo {
  @apply grid place-items-center py-4;
}

.FooterInfo > span {
  font-size: var(--font-small);
  font-weight: var(--font-normal);
  color: var(--white);
}

.FooterInfo > * {
  @apply m-0;
}

.ImageWrapper {
  @apply w-12 m-4;
}

.SocialMedia {
  @apply flex;
}

.SocialMediaIconWrapper {
  @apply flex overflow-hidden m-2 rounded-full;
}

.SocialMediaIconWrapper > a > * {
  @apply grid place-items-center w-4 h-4 p-2 transition-all ease-out duration-200;
  color: var(--white);
  background-color: var(--black);
}

.SocialMediaIconWrapper > a:hover > .IconFacebook {
  background-color: #1277f3;
}

.SocialMediaIconWrapper > a:hover > .IconInstagram {
  background-color: #c034d5;
}

.SocialMediaIconWrapper > a:hover > .IconTwitter {
  background-color: #1c9ff0;
}

.PostFooter {
  background-color: var(--black);
  font-size: var(--font-small);
  @apply p-2;
}

.PostFooter > span {
  font-size: var(--font-small);
  font-weight: var(--font-light);
  color: var(--secondary);
}
