.Footer {
  background-color: var(--primary);
  @apply pt-8;
}

.PreFooter {
  @apply grid place-items-center;
}

.FooterForm {
  @apply py-4;
}

.FooterNav {
  @apply flex flex-col py-4;
}

.FooterNav > span {
  font-weight: var(--bold);
  @apply my-1;
}

.FooterInfo {
  @apply grid place-items-center py-4;
}

.FooterInfo > * {
  @apply m-0;
}

.ImageWrapper {
  @apply w-12 m-4;
}

.SocialMedia {
  @apply flex;
}

.SocialMediaIconWrapper {
  @apply w-5 m-2;
}

.PostFooter {
  background-color: var(--black);
  color: var(--secondary);
  font-size: var(--font-small);
  @apply p-2;
}
