.Form {
  @apply flex flex-col items-baseline;
}

.Form > * {
  @apply my-2;
}

.FormEmailInput {
  background-color: var(--white);
  @apply w-80 h-10 p-2 rounded;
}

.FormTextarea {
  background-color: var(--white);
  @apply w-80 h-40 p-2 rounded;
}

.FormBtn {
  font-size: var(--font-small);
  font-weight: var(--font-bold);
  background-color: var(--black);
  color: var(--white);
  @apply rounded-full;
}
