@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-tight font-bold text-3xl;
  }

  p,
  span {
    @apply leading-loose my-5;
  }

  a {
    @apply underline;
  }

  a:hover {
    @apply no-underline;
  }
}

:root {
  --primary: #ed3a39;
  --secondary: #9e98aa;
  --black: black;
  --white: white;
  --font-big: 1.5rem;
  --font-medium: 1.2rem;
  --bold: 700;
}

body {
  overflow-x: hidden;
}
