@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-tight font-bold text-3xl;
  }

  p,
  span {
    @apply leading-loose my-5;
  }

  a {
    @apply underline;
  }

  a:hover {
    @apply no-underline;
  }
}

:root {
  --primary: #ed3a39;
  --secondary: #9e98aa;
  --black: black;
  --white: white;
  --font-big: 1.5em;
  --font-medium: 1.2em;
  --font-small: 0.8em;
  --bold: 700;
  --light-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
