.Header {
  background-color: var(--primary);
  box-shadow: var(--light-shadow);
  @apply fixed inset-x-0 z-20 py-4 px-8;
}

.HeaderElem {
  @apply flex items-center justify-between;
}

.LogoWrapper {
  background-color: var(--white);
  @apply grid place-items-center p-1.5 rounded-xl w-12;
}

.HamMenuWrapper {
  @apply cursor-pointer grid place-items-center lg:hidden;
}

.Open {
  color: var(--white);
}
