.MissionModal {
  background-color: var(--primary);
  color: var(--white);
  transform: translateY(-50px);
  @apply rounded-lg py-8 px-12 text-center;
}

.MissionModal > div > h3 {
  font-size: var(--font-big);
}

.MissionSecondarySection {
  @apply pt-8;
}
