.MissionModal {
  background-color: var(--primary);
  @apply grid grid-cols-1 gap-12 rounded py-8 px-12 text-center lg:grid-cols-3 -translate-y-24 lg:-translate-y-16;
}

.MissionModal > .MissionPrimarySection > h2 {
  font-size: var(--font-big);
  font-weight: var(--font-bold);
  color: var(--white);
}

.MissionModal > .MissionSecondarySection > h3 {
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  color: var(--white);
}

.MissionModal > div > p {
  font-size: var(--font-medium);
  font-weight: var(--font-normal);
  color: var(--white);
  @apply mx-auto lg:max-w-3xl;
}

.MissionPrimarySection {
  @apply lg:col-span-3;
}
