.Presentation {
  @apply min-h-screen flex flex-col justify-center items-baseline;
}

.Heading {
  font-size: var(--font-big);
}

.Button {
  font-size: var(--font-medium);
  font-weight: var(--bold);
  background-color: var(--primary);
  color: var(--white);
  @apply py-2 px-4 rounded-full mt-6 transition;
}

.Button:hover {
  transform: translateY(-2px);
  box-shadow: var(--light-shadow);
}

.ImageWrapper {
  box-shadow: var(--light-shadow);
  @apply grid overflow-hidden rounded-lg my-8;
}
