.Presentation {
  @apply min-h-screen flex flex-col justify-center items-baseline lg:flex-row-reverse lg:items-center;
}

.ImageWrapper {
  @apply flex relative mb-12 md:mb-24 lg:mb-0;
}

.ImageWrapper > div {
  box-shadow: var(--light-shadow);
  @apply grid place-items-center overflow-hidden rounded;
}

.ImageWrapper > .FirstImage {
  @apply translate-x-1/2 transition-all duration-500 ease-in-out;
}

.ImageWrapper > .SecondImage {
  @apply z-10 scale-125 transition-all duration-500 ease-in-out;
}

.ImageWrapper > .ThirdImage {
  @apply -translate-x-1/2 transition-all duration-500 ease-in-out;
}

.Heading {
  font-size: var(--font-big);
  font-weight: var(--font-bold);
  color: var(--black);
}

.Button {
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  background-color: var(--primary);
  color: var(--white);
  box-shadow: var(--light-shadow);
  @apply rounded mt-6 transition-all duration-200 ease-in-out;
}

.Button:hover {
  background-color: var(--black);
}
